@font-face {
    font-family: "Marker Felt";
    src: url("//db.onlinewebfonts.com/t/aae462773966100890bdfe4a8188cc0a.eot");
    src: url("//db.onlinewebfonts.com/t/aae462773966100890bdfe4a8188cc0a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/aae462773966100890bdfe4a8188cc0a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/aae462773966100890bdfe4a8188cc0a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/aae462773966100890bdfe4a8188cc0a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/aae462773966100890bdfe4a8188cc0a.svg#Marker Felt") format("svg");
}

* {
    box-sizing: border-box;

    image-rendering: optimizeSpeed;             /* Older versions of FF */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;               /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non standard naming) */
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    /* background: radial-gradient(red, #3B2314); */
}

.page-title {
    color: white;
    font-family: Marker Felt, serif;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
}

.game-info-container {
    position: absolute;
    width: 90vw;
    left: 5%;
    top: 10px;
    z-index: 100;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    line-height: 10vh;
}

.game-info {
    font-family: Marker Felt, serif;
    font-weight: bold;
    color: black;
    font-size: 1em; /* default size, 1em = 16px in most browser defaults */
}

.game-container {
    display: grid;
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
    /* perspective: 500px; */
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    /*min-width: 20px;
    min-height: 20px;*/
    aspect-ratio: 1;
}

.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 200;
    color: #00ADEF;
    font-family: Marker Felt, serif;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(255,255,255,0);
        font-size: 0;
    }
    to {
        background-color: rgba(255, 255, 255, 0.85);
        font-size: 10em;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
}

/* COMPUTER BROWSERS */
@media (hover: hover) {
    .page-title {
        font-size: 2em;
        text-shadow: 0px 3px 1px black, 2px 0px 1px black, 0px -1px 1px black, -2px 0px 1px black;
    }

    .game-info {
        font-size: 1em;
    }

    .card.visible .card-front {
        opacity: 1;
    }

    .card-face {
        transition: transform 500ms 0ms ease-in-out, opacity 1ms 500ms linear;
    }
}

/* MOBILE BROWSERS */
@media (hover: none) {
    .page-title {
        font-size: 4em;
        text-shadow: 0px 6px 2px black, 4px 0px 2px black, 0px -4px 2px black, -4px 0px 2px black;
    }

    .game-info {
        font-size: 3em;
    }

    .card-face {
        transition: opacity 1ms linear;
    }

    .card-front {
        opacity: 0;
    }

    .card.visible .card-back {
        opacity: 0;
    }

    .card.visible .card-front {
        opacity: 1;
    }
}

.card-back {
    background-image: url(Assets/Images/CardBackground.png);
    background-size: 100% 100%;
    background-color:rgba(0, 0, 0, 0.5);
    border-color: #6D6E70;
    opacity: 1;
}

.card-front {
    background-color: #ffa666;
    border-color: #333333;
    transform: rotateY(180deg);
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-value {
    height: 100%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    transform: scale(.9);
    transition: transform 100ms ease-in-out;
}

.card-front:hover .card-value {
    transform: scale(1);
}

.card-corner {
    position: absolute;
    width: 35%;
    height: 35%;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-face:hover .card-corner {
    width: 38%;
    height: 38%;
}

.card-corner-top-left {
    transform: rotate(270deg);
    top: 0;
    left: 0;
}

.card-corner-top-right {
    top: 0;
    right: 0;
}

.card-corner-bottom-left {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
}

.card-corner-bottom-right {
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}

.backIcon {
    align-self: flex-start;
    width: 100%;
    height: 100%;
    transform: scale(.9);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .backIcon {
    transform: scale(1);
}

@media only screen and (orientation: landscape) {
    .game-container {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: 5%;
        margin-right: 5%;
        width: 90vw;
        grid-template-columns: repeat(6, minmax(50px, 1fr));
    }
}

@media only screen and (orientation: portrait) {
    .game-container {
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0);
        height: 72vh;
        width: 35vh;
        grid-template-columns: repeat(3, minmax(50px, 1fr));
    }
}